@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

/* Custom theme configuration */
@theme {
  --color-ui-50: #f8fafc;
  --color-ui-100: #f1f5f9;
  --color-ui-200: #e2e8f0;
  --color-ui-300: #cbd5e1;
  --color-ui-400: #94a3b8;
  --color-ui-500: #64748b;
  --color-ui-600: #475569;
  --color-ui-700: #334155;
  --color-ui-800: #1e293b;
  --color-ui-900: #0f172a;
  --color-ui-950: #020617;
  --color-ui-white: #ffffff;
  --color-ui-black: #000000;
  --color-ui-danger: #dc2626;
  --color-ui-success: #22c55e;
  --color-ui-warning: #eab308;

  --radius-buttons: 0.25rem;
  --radius-forms: 0.25rem;
  --radius-cards: 0.75rem;
}
